if SHIELD_KLOTZ_RIGHT

    config ZMK_KEYBOARD_NAME
        default "KLOTZ"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif # right



if SHIELD_KLOTZ_RIGHT || SHIELD_KLOTZ_LEFT

    config ZMK_SPLIT
        default y

endif # RIGHT LEFT



if ZMK_BACKLIGHT

    config PWM
        default y

    config LED_PWM
        default y

endif # ZMK_BACKLIGHT
